<div class="container m-2 py-2">
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputNome4">Nome</label>
        <input type="text" class="form-control" id="inputNome4" placeholder="Nome" required>

      </div>
      <div class="form-group col-md-12">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">

      </div>
      <div class="form-group col-md-6">
        <label for="inputTelefone4">Telefone</label>
        <input type="text" class="form-control" id="inputTelefone4" placeholder="Telefone" required>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAddress">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">

      </div>
      <div class="form-group col-md-12">
        <label for="inputAddress2">Endereço 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" id="inputCity">

      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Estado</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Rio de Janeiro</option>
          <option>São Paulo</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Cep</label>
        <input type="text" class="form-control" id="inputZip">

      </div>
    </div>
</div>
<div class="container m-2 py-2">
  <button type="button" class="btn btn-secondary">Close</button>
  <button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
